<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <%- include('../../components/h1', {content: "List of Books"}) %> 
    <ul>      
      <% books.forEach(function(book) { %>
        <li>
          <a href="/books/<%= book.id %>"><%= book.title %></a>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>